/* Reset de HMTL */
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

html {

    /* para que 1 rem = 10 px*/
    font-size: 62.5%;
}

/*  elementos del Body */

body {
  font-family: Arial, "Helvetica Neue", sans-serif;
  font-size: 1.6 rem;
  line-height: 1.5;
  background-color: rgb(231, 140, 140);
  color: rgb(108, 108, 73);   

  display: flex;
  flex-direction: column;
  min-height:100vh;

}


/*  elementods del Header   */

.header__logo{
font-size: 3rem;
font-weight: bold;
margin-left: 2rem;
padding: 1rem;


}

.header__logo a {
    color: black;
    text-decoration: none;
}

.header__nav {
    padding: 1rem;
    margin-right: 1rem;
}

.header__nav ul {
    list-style: none;

    display: flex;
    justify-content: center;
    gap: 2rem;
}

.header__nav li {
    font-size: 3rem;
    font-weight: bold;
}

.header__nav a {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 1rem;
}

/* elementos del Main  */
main{
    width: 80%;
    padding-bottom: 2rem;
    flex: 1;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nombre-producto {
    color: rgb(76, 76, 131);
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.25;
}

.btn {
    background-color: hotpink ;
    color: black;
    border: none;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 1.6rem;
    border-radius: 1rem;
}
main .parrafo-home {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    width: 80%;
}
/* elementos de Home  */
.titulo-home {
    color: blue;
    font-size: 4rem;
    margin: 2rem 0;
}

.productos-home {
    width: 100%;

}

.productos-home h2 {
    text-align: center;
    font-size: 3rem;
    padding: 1rem;
    margin: 3rem;
}

.contenedor-tarjetas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.tarjeta-producto {
    background-color: black;
    padding: 1rem;
    border-radius: 1rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.tarjeta-producto img {
    width: 100%;
    border-radius: 0,5rem;
}
p{
    font-size: 1.5rem;
    /* esto podria servir para ver los bordes de cada una de las cosas 
    al momento de comenzar a dar estilos a todos los elementos del sitio  */
    border: none;
    cursor: pointer;
}


/* elementos del Fotter */


.footer__nav ul {
    list-style: none;

    display: flex;
    justify-content: center;
    gap: 2rem;
}


